@model IEnumerable<GymManagement.Data.Entities.GymSession>

@{
    ViewData["Title"] = "Index";
}

<div class="shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">
    <h3>@ViewData["GymName"] / Sessions</h3>
    <p class="mt-3">
        <a asp-action="Create" asp-route-gymId="@ViewData["GymId"]" class="btn btn-success">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Session.ImageId)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Session.Name)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.StartSession)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Capacity)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <img src="@item.Session.ImageFullPath" alt="Image Gym" style="width:80px;height:130px;max-width:100%;height:auto;" />
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Session.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.StartSession)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td class="align-middle">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>                  
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
