@model IEnumerable<GymManagement.Data.Entities.Gym>

@{
    ViewData["Title"] = "Index";
}

<h2>Gyms</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageFullPath" alt="Image Gym" style="width:100px;height:150px;max-width:100%;height:auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Index" asp-controller="GymSessions" asp-route-GymId="@item.Id" class="btn btn-success">Sessions</a>
            </td>
        </tr>
}
    </tbody>
</table>
