@model GymManagement.Data.Entities.Session

@{
    ViewData["Title"] = "Delete";
}

<div class="shadow-none p-3 bg-body-tertiary rounded bg-white">
    <h3>Delete</h3>

    <h6>Are you sure you want to delete this?</h6>
    <div>
        <hr />
        <div class="row">
           <div class="col-md-8">
                <h4>Session</h4>

                <dl class="row">
                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>                
                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.IsOnline)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.IsOnline)
                    </dd>
                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.IsGroup)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.IsGroup)
                    </dd>
                </dl>
           </div>
        </div>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />        
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
            <a asp-action="Index" class="btn btn-success"><i class="fas fa-chevron-left"></i> Back to List</a>
        </form>
    </div>
</div>