@model GymManagement.Data.Entities.Session

@{
    ViewData["Title"] = "Details";
}

<div class="shadow-none p-3 bg-body-tertiary rounded bg-white">
    <h3>Details</h3>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-8">
           
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>              
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.IsOnline)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.IsOnline)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.IsGroup)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.IsGroup)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 mb-2">
                <img src="@Model.ImageFullPath" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto;" />
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
        <a asp-action="Index" class="btn btn-success"><i class="fas fa-chevron-left"></i> Back to List</a>
    </div>
</div>