@model GymManagement.Data.Entities.Discussion

@{
    ViewData["Title"] = "Discussion";    
}

<div class="shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">
    <div class="text-danger">
        <p>
            @ViewBag.Error
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col border py-3">
                <h4 class="small">@Model.OriginalPost.Title</h4>
                <p class="fs-5 small">
                    @Model.OriginalPost.Message
                </p>
                <p class="small">
                    Created by @Model.OriginalPost.User.FullName
                    @if (this.User.Identity.Name == Model.OriginalPost.User.Email)
                    {
                        <a class="btn btn-warning btn-sm" asp-action="UpdatePost"  asp-route-id="@Model.OriginalPost.Id">Update post</a>
                    }
                    @if (this.User.Identity.Name == Model.OriginalPost.User.Email || this.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger btn-sm" asp-action="DeleteDiscussion" asp-route-id="@Model.Id">Delete discussion thread</a>
                    }   
                </p>
            </div>
        </div>
    </div>
    <div class="container border py-3">
        @if (!Model.Replies.Any())
        {
            <p class="small">This discussion thread has no replies!</p>
        }
        else
        {
            foreach (var item in Model.Replies)
            {
                <div class="row">
                    <div class="col border py-3">
                        <p class="fs-5 small">
                            @item.Message
                        </p>
                        <p class="small">
                            Reply by @item.User.FullName
                            @if (this.User.Identity.Name == item.User.Email)
                            {
                                <a class="btn btn-warning btn-sm" asp-action="UpdatePost" asp-route-id="@item.Id">Update post</a>
                                <a class="btn btn-danger btn-sm" asp-action="DeleteReply" asp-route-id="@item.Id">Delete reply</a>
                            }
                        </p>
                    </div>
                </div>
            }
        }
    </div>
@if (this.User.Identity.IsAuthenticated)
{
    <a asp-action="CreateReply" asp-route-id="@Model.Id" class="btn btn-primary btn-sm mt-3">Create Reply</a>  
}
</div>
